/* common shared styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-style {
    border-radius: 5px;
    background: #FFF;
    color: #005FAC;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    border: 0;
}

main {
    max-width: 1920px;
    margin: 0 auto;
}

/* header related styles */
header {
    width: 1600px;
    height: 809px;
    background-image: url('../images/banner/banner3.png');
    margin-bottom: 120px;
}

.header-content {
    padding: 150px 230px 167px 900px;
}

.headline {
    color: #FFF;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
}

.hearder-para {
    color: #FFF;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.header-content a {
    padding: 320px;
}

/* failure related styles */
.failure-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.section-headline {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    width: 288px;
}

.failure-para {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 416px;
}

.failure-content ul {
    list-style: none;
}

/* my plans related styles */
.my-plans {
    margin: 130px 300px;
}

.plan-headline {
    color: #151414;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.plans-container {
    display: flex;
    gap: 100px;
}

.plans-head {
    color: #151414;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0;
}

.plans-para {
    color: #737272;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

/* positive mindset */
.positive-mindset {
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
    width: 900px;
    height: 300px;
    margin: 130px 300px;
}

.positive-content {
    padding: 10px 617px 60px 60px;
}

.postive-headline {
    width: 459px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* footer related styles */
.footer {
    background: #151414;
}

.footer-container {
    display: flex;
    gap: 200px;
    padding: 130px 230px;

}

.footer-column {
    width: 50%;
}

.footer-head {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}

.footer-pera {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 485px;
}

.form-container input {
    display: block;
    margin: 30px 10px 15px 5px;
}

.form-container input[type="email"] {
    border-radius: 8px;
    border: 1px solid #FFF;
    color: #F3F3F3;
    font-size: 18px;
    font-weight: 400;
    padding: 20px 150px 20px 20px;
}

.form-container input[type="submit"] {
    border-radius: 8px;
    background: #005FAC;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 35px;
}